body {
    font-family: 'Roboto', sans-serif;
}

p {
    height: 50px;
}
.card {
    margin-top: 20px;
}

.pComment {
    margin-top: 15px;
}

.pMail {
    margin-top: 15px;
}

.navbar {
    user-select: none;
}